$newBatchButtonWH: 3.5em;


body{
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: #ecf0f1;
  overflow-x: hidden;
}

#newBatchButton {
  position: fixed;
  height: $newBatchButtonWH;
  width: $newBatchButtonWH;
  background-color: #e74c3c;
  bottom: 10px;
  right: 10px;
  border-radius: 100%;
  cursor: pointer;
  background-image: url('../img/add_white.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#newBatchForm{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  transition: left 0.2s ease-out;
  left: 100%;

  .formContainer{
    background-color: white;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;

    input{
      width: 90%;
      margin-left: 5%;
      font-size: 1em;
      margin: 10px;
      border: none;
      border-bottom: 1px solid #bdc3c7;
      outline: none;
    }

    input[type=text], textarea {
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
      padding: 3px 0px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid #DDDDDD;
    }

    input[type=text]:focus, textarea:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      padding: 3px 0px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgba(81, 203, 238, 1);
    }

    .controls{
      display: flex;

      .submit, .cancel{
        flex: 1;
        text-align: center;
        padding: 10px;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
      }

      .submit{
        background-color: #2ecc71;
      }
      .cancel{
        background-color: #e74c3c;
      }
    }
  }
}
.header{
  background-color: #e74c3c;
  padding: 15px;
  text-align: center;
  color: #ecf0f1;
}

.batchList{

}
.batch{
  background-color: white;
  display: block;
  //flex: 1;
  margin-right: 5%;
  margin-left: 5%;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  .batchName{
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #e74c3c;
    padding: 5px;
  }
  .batchStats{
    display: flex;

    .batchDPCIS, .batchEaches{
      flex: 1;
      text-align: center;
      padding: 5px;
    }
  }

  .batchOwner{
    text-align: center;
    padding: 5px;
  }
  .controls{
    display: flex;

    .completeButton, .cancelButton{
      flex: 1;
      text-align: center;
      padding: 10px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
    }

    .completeButton{
      background-color: #27ae60;
    }

    .cancelButton{
      background-color: #e74c3c;
    }
  }
}
